# VCS
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Local artifacts
out/
docs/
tests/
